body {
    background-image: url(macarron3.jpg);
    margin: 0x;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul,
h3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 30px;
}

header h1,
h4 {
    margin: 10px 20px;
}

header spam {
    color: rgba(188, 106, 156);
}

header {
    font-size: 28px;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
}

header,
section {
    max-width: 300px;
    border: 2px solid rgb(135, 22, 96, 0.5);
    padding: 0px 20px;
    background-color: rgba(234, 225, 227, 0.699);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

section h2 {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(188, 106, 156, 0.87);
    color: rgb(237, 225, 225);
}

section {
    margin-top: 10px;
    font-family: 'Tiro Gurmukhi', serif;
    line-height: 1.4;
}

ul li {
    display: flex;
}

.details h3 {
    text-decoration: underline;
}

img {
    size: 16px;
}
